.form-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.form-content{
    text-align: left;
    width:80%;
    margin: auto;
}
.form-content input{
    width:100%;
}
.submit-button{
    margin-top: 5px;
    width: 100%;
    padding: 5px;
}
.validator{
    color: var(--secondary-theme);
    font-weight: bolder;
}
.input-wrapper{
    display: flex;
    align-items: center;
}
.eye-wrapper{
   
    margin-left: -30px;
}
.error{
    padding:10px;
    color:  var(--dark-theme);
    background:  var(--secondary-theme);
}
.link{
    cursor: pointer;
}