.navigation{
    display: none;
}

.navigation a{
    text-decoration: none;
    padding-left: 10px;
    color: var(--main-background-theme);
    
}



.logout{
    color: var(--main-background-theme); 
    width: 100%;
    padding: 0 0 0 10px;
}

.user{
    color: var(--main-background-theme); 
    /* font-weight: bold; */
    font-size: small;
    width: 100%;
    padding:0;
    margin: 20px 0 20px 0;
    padding-left: 10px;
}

a.active{
    background-color: var(--main-background-theme);
    color: var(--dark-theme);
}

  






@media screen and (min-width: 650px) {
    .navigation{
        display: block;
    }
    .logout{
        cursor: pointer;
       
    }
    
    .alink{
        display: block;
        width: 100%;
    }
   
}