.vehicle{
    /* border: 1px solid rgb(245, 245, 246); */
    padding-left: 10px;
}

.details-btn{
    border: 1px solid var(--secondary-theme);
    /* background: var(--dark-theme); */
    border-radius: 2px;
    padding: 3px 5px 3px;   
    color: var(--dark-theme);
    font-weight: 100;
}
.details-btn:hover{
    border: 1px solid var(--dark-theme);
    background: var(--dark-theme);
    border-radius: 2px;
    padding: 3px 5px 3px;   
    color: var( --main-background-theme);
    transition: all 0.2s;
}
.details-link {
    margin-top: 10px;
    
}
.details-link a{
    text-decoration: none;
    color: var(---main-background-theme);
    
}
.details-link a:visited{
    color: var(--main-background-theme);
}