.close-icon-wrapper{
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}
.close-icon{
    display: block;
    width: 20px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--secondary-theme);
    
}
.logo{
    color: var(--dark-theme);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
}

.navigation-mobile{
    display:block;
    position: absolute;
    left: -800px;
    background-color: var(--dark-theme);
    min-height: 100vh;
    min-width: 100%;
    z-index: 20000;
    /* opacity: 0; */
}

.navigation-mobile a{
    text-decoration: none;
    padding-left: 10px;
    color: var(--main-background-theme);
    
}

.open-menu{
    animation: slide-in 0.3s forwards;
}
/* .close-menu{
    animation: slide-out 0.1s forwards;
} */
.close-menu{
    left: -800px;
}
.logout{
cursor: pointer;
   
}

.alink{
    display: block;
    width: 100%;
}

@keyframes slide-in {
    0% { 
        /* opacity: 0; */
        left: -800px;
        
    }
    100% { 
        /* opacity: 1; */
        left: 0;
    }
    
}
/* @keyframes slide-out{
    0% { 
      
        left: 0; 
        
    }
    
    100% { 
      
        left:-800px;
    }
    
} */
 
@media screen and (min-width: 650px) {
    .menu-icon{
        display: none;
    }
    .menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 25px 20px;
        color: white;
        /* border-bottom: 3px solid var(--dark-theme); */
    }
    .navigation-mobile{
        display: none;
        position: absolute;
        background-color: var(--dark-theme);
     }
    
}




