.App {
  min-height: 100vh;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content{
  display: block;
  /* grid-template-columns: 1fr; */
  
}
.side-bar{
  background-color: var(--dark-theme);
  
  /* height: 0; */
}
.title{
  text-align: center;
  color: var(--dark-theme);
}
.nested-routes-wrapper{
  display: flex;
  align-items: center;
  background: var(--secondary-theme);
  padding: 0 30px;
  margin-top: 30px;
}
.sub-link{
  padding: 5px;
  border: 1px solid var(--dark-theme);
  color: var(--dark-theme);
  text-decoration: none;
  background: var(--secondary-theme);
  border-bottom: 1px solid var(--main-background-theme);
  border-top: none;
  border-left: none;
}
 .nested-menu-active{
  background: var(--main-background-theme);
  border-bottom: none;
  border-top: 1px solid var(--secondary-theme);
  font-weight: bold;
}

.nested-subroutes-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 12px;
}
.tab{
  margin-right: 15px;
  text-decoration: none;
  color:var(--dark-theme);
  text-align: center;
  border-bottom: 3px solid var(--main-background-theme);
 
}
.tab:visited{
  color:var(--dark-theme);
}
.tab-active{
  border-bottom: 3px solid var(--dark-theme);
  box-sizing: border-box;
}
.outlet{
  width: 80%;
  margin: 5px auto;
}
.trips{
  height: 250px;
  overflow-x: hidden;
}
.left-border-thick{
  border-left: 4px solid var(--secondary-theme);
}
.close-icon-dark{
  width:25px;
  background-color: var(--dark-theme);
  padding:4px;
}
.close-icon-light{
  width:25px;
  padding:4px;
}



@media screen and (min-width: 650px) {
  .content{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: calc(100vh - 100px);
  }
  .side-bar{
    height: 100%;
    overflow: auto;
  }
  .pages{
    height: 100%;
    overflow: auto;
    background-color: var(--main-background-theme);
    
  }
  .nested-routes-wrapper{
    width: 100%;
    margin: 20px auto;
    padding-left: 0;
    border-left: 1px solid var(--dark-theme);
  }
  .nested-subroutes-wrapper{
    font-size: 13px;
  }
}
