.App {
  min-height: 100vh;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content{
  display: grid;
  grid-template-columns: 1fr;
  
}
.side-bar{
  background-color: var(--dark-theme);
  height: 0;
}
.title{
  text-align: center;
  color: var(--dark-theme);
}

@media screen and (min-width: 650px) {
  .content{
    display: grid;
    grid-template-columns: 1fr 4fr;

    height: calc(100vh - 100px);
    
    
  }
  .side-bar{
    height: 100%;
   
    overflow: auto;
  }
  .pages{
    
    height: 100%;
    overflow: auto;
    background-color: var(--main-background-theme);
    
  }

}
