body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-background: #1e90ff;
  --error-text: red;
  --error-back: rgb(246, 196, 196);
  --secondary-theme: #D1C9BE;
  --dark-theme: #909090;
  --main-background-theme: #f9f9f8;
  --modal-dark-back:rgb(49, 93, 195, 0.7);
  --modal-light-back: rgb(49, 93, 195, 0.7)

}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}

input[type=text]:focus {
  background-color: var(--secondary-theme);
}

input, select{
  border-radius: 0;
  padding: 5px;
  border: 1px solid var(--secondary-theme)
}
label{
  color: var(--dark-theme);
}
button:hover{
  cursor: pointer;
}
.submit-button{
  color: var(--main-background-theme);
  background-color: var(--dark-theme);
  border: 1px solid var(--secondary-theme);
  border-radius: 2px;
}
.bold{
  font-weight: bold;
}
